{{#each model.member as |member|}}
  <h2>{{member.first_name}} {{member.last_name}}</h2>
  <h3>{{member.state}}-{{member.party}}</h3>
  <h2>{{member.first_name}} {{member.last_name}}'s committees:</h2>
{{/each}}
<ul>
  {{#each model.committees as |committee|}}
    <li>{{committee.name}}</li>
  {{/each}}
</ul>
